@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1 id="animate" class="display-4"></h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/va1oiojnGrA?si=ni5q6cIlhOtF7wuy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
